In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("train.csv", parse_dates=["date"], index_col="date")
print(df.head())

             id  store_nbr      family sales  onpromotion
date
2013-01-01  0.0        1.0  AUTOMOTIVE   0.0            0
2013-01-01  0.0        1.0   BABY CARE   0.0            0
2013-01-01  0.0        1.0      BEAUTY   0.0            0
2013-01-01  0.0        1.0   BEVERAGES   0.0            0
2013-01-01  0.0        1.0       BOOKS   0.0            0

In [3]:
df = df.drop(['id'], axis=1)
print(df.head())

            store_nbr      family sales  onpromotion
date
2013-01-01        1.0  AUTOMOTIVE   0.0            0
2013-01-01        1.0   BABY CARE   0.0            0
2013-01-01        1.0      BEAUTY   0.0            0
2013-01-01        1.0   BEVERAGES   0.0            0
2013-01-01        1.0       BOOKS   0.0            0

In [4]:
df = df.dropna()
df = pd.get_dummies(df, columns=['family'])
print(df.head())

            store_nbr sales  onpromotion  family_AUTOMOTIVE  family_BABY CARE  \
date
2013-01-01        1.0   0.0            0                  1                 0
2013-01-01        1.0   0.0            0                  0                 1
2013-01-01        1.0   0.0            0                  0                 0
2013-01-01        1.0   0.0            0                  0                 0
2013-01-01        1.0   0.0            0                  0                 0

            family_BEAUTY  family_BEVERAGES  family_BOOKS  \
date
2013-01-01              0                 0             0
2013-01-01              0                 0             0
2013-01-01              1                 0             0
2013-01-01              0                 1             0
2013-01-01              0                 0             1

            family_BREAD/BAKERY  family_CELEBRATION  ...  family_MAGAZINES  \
date                                                 ...
2013-01-01                    0                   0  ...                 0
2013-01-01                    0                   0  ...                 0
2013-01-01                    0                   0  ...                 0
2013-01-01                    0                   0  ...                 0
2013-01-01                    0                   0  ...                 0

            family_MEATS  family_PERSONAL CARE  family_PET SUPPLIES  \
date
2013-01-01             0                     0                    0
2013-01-01             0                     0                    0
2013-01-01             0                     0                    0
2013-01-01             0                     0                    0
2013-01-01             0                     0                    0

            family_PLAYERS AND ELECTRONICS  family_POULTRY  \
date
2013-01-01                               0               0
2013-01-01                               0               0
2013-01-01                               0               0
2013-01-01                               0               0
2013-01-01                               0               0

            family_PREPARED FOODS  family_PRODUCE  \
date
2013-01-01                      0               0
2013-01-01                      0               0
2013-01-01                      0               0
2013-01-01                      0               0
2013-01-01                      0               0

            family_SCHOOL AND OFFICE SUPPLIES  family_SEAFOOD
date
2013-01-01                                  0               0
2013-01-01                                  0               0
2013-01-01                                  0               0
2013-01-01                                  0               0
2013-01-01                                  0               0

[5 rows x 36 columns]

In [5]:
df.fillna(df.mean(), inplace=True)
np_data = df.to_numpy()
print(np_data)

[[1.0 '0.0' 0 ... 0 0 0]
 [1.0 '0.0' 0 ... 0 0 0]
 [1.0 '0.0' 0 ... 0 0 0]
 ...
 [37.0 '0.0' 0 ... 0 0 0]
 [37.0 '0.0' 0 ... 0 0 0]
 [37.0 '0.0' 0 ... 0 0 0]]

/tmp/ipykernel_26999/4274532063.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean(), inplace=True)

In [6]:
train_data = np_data[:int(0.8 * np_data.shape[0])]
test_data = np_data[int(0.8 * np_data.shape[0]):]
print(train_data)
print(test_data)

[[1.0 '0.0' 0 ... 0 0 0]
 [1.0 '0.0' 0 ... 0 0 0]
 [1.0 '0.0' 0 ... 0 0 0]
 ...
 [31.0 '0.0' 0 ... 0 0 0]
 [31.0 '0.0' 0 ... 0 0 0]
 [31.0 '0.0' 0 ... 0 0 0]]
[[31.0 '0.0' 0 ... 0 0 0]
 [31.0 '0.0' 0 ... 0 0 0]
 [31.0 '0.0' 0 ... 0 0 0]
 ...
 [37.0 '0.0' 0 ... 0 0 0]
 [37.0 '0.0' 0 ... 0 0 0]
 [37.0 '0.0' 0 ... 0 0 0]]